<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./font/icofont/icofont.min.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/slick.css">
</head>

<body>
  <header>
    <div class="nav-list-mb" id="nav-list-mb">
      <div class="logo-mb"><a href="/"><img src="./img/logo.png"></a></div>
      <div class="center-flex">
        <ul>
          <li><a href="/promotion"> <i class="icofont-school-bus"></i>Khuyến mãi</a></li>
          <li>
            <a href="/ticket_list"><i class="icofont-school-bus"></i>Lịch Trình</a>
            </li>
          <li>
            {{#if (eq authUser.role "admin")}}
             <a href="/manage_admin"><i class="icofont-school-bus"></i>Quản Lý Vé</a>
            {{else}}
            <a href="/history"><i class="icofont-school-bus"></i>Quản Lý Vé</a>
            {{/if}}
          </li>
          <li><a href="/contact"><i class="icofont-school-bus"></i>Liên Hệ</a></li>
        </ul>
      </div>
      <div class="logo-mb"><button class="btn-exit" onclick="menuDisplay()"><i class="icofont-exit"></i> Trở về
        </button></div>
    </div>
    <div class="action-btn-mb center-flex" id="action-btn-mb">
      <div>
        <div class="logo-mb "><img src="./img/logo.png"></div>
        <div><button class="btn btn-exit btn-login"><i class="icofont-user"></i> Đăng nhập</button></div>
        <div><button class="btn btn-exit btn-signup"><i class="icofont-user"></i> Đăng ký</button></div>
        <div class="logo-mb"><button class="btn-exit" onclick="userDisplay()"><i class="icofont-exit"></i> Trở về
          </button></div>
      </div>
    </div>

    <!-- pop up sign in account -->
    <div class="login-popup {{#if login_errorMessage}}opacityDisplay{{/if}} {{#if login_successMessage}}opacityDisplay{{/if}}" id="action-btn-signin">
      <div class="position-center-flex">
        <div class="form-login">
          <form action="" method="POST">
            <h2>Đăng nhập vào V.exe</h2>
            <div>
              {{#if login_errorMessage}}{{login_errorMessage}}{{/if}} 
              {{#if login_successMessage}}{{login_successMessage}}{{/if}}</div>
            <div class="form-items">
              <input type="text" name="phone_mail" placeholder="Số điện thoại hoặc email">
            </div>
            <div class="form-items" style="margin-bottom: 0">
              <input type="password" name="password" placeholder="Mật Khẩu">
            </div>
            <div class="form-items">
              <a href="#">Quên mật khẩu?</a>
            </div>
            <div class="form-items">
              <button type="submit" name="submit" value="login" class="signin-btn-action">Đăng Nhập</button>
            </div>
            <div class="form-items">
              <button type="button" class="register-btn-action" onclick="twoToggleElement()">Tạo Tài Khoản Mới</button>
            </div>
            <div class="form-items">
              <button class="btn-exit" onclick="signinAction()"><i class="icofont-exit"></i> Trở về </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end pop up sign in account -->

    <!-- pop up register account -->
    <div class="login-popup {{#if errorMessage}}opacityDisplay{{/if}} {{#if successMessage}}opacityDisplay{{/if}}" id="action-btn-register">
      <div class="position-center-flex">
        <div class="form-login">
          <form action="" method="POST">
            <h2>Tạo tài khoản của bạn</h2>
            
            <div>
              {{#if errorMessage}}
              {{errorMessage}}
              {{/if}}

              {{#if successMessage}}
              {{successMessage}}
              {{/if}}
            </div>
            
            <div class="form-items">
              <input type="text" name="name" placeholder="Họ và tên">
            </div>
            <div class="form-items">
              <input type="text" name="phone_number" placeholder="Số điện thoại">
            </div>
            <div class="form-items">
              <input type="text" name="email" placeholder="Email">
            </div>
            <div class="form-items">
              <input type="password" name="password" placeholder="Mật Khẩu">
            </div>
            
            <div class="form-items">
              <input type="password" name="confirm_password" placeholder="Nhập lại mật khẩu">
            </div>
            <div class="form-items">
              <button name="submit" value="register" type="submit" class="register-btn-action">Tạo Tài Khoản</button>
            </div>
            <div class="form-items">
              <button class="btn-exit" type="button" onclick="registerAction()"><i class="icofont-exit"></i> Trở về </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end pop up register account -->

    <div class="main-header">
      <div class="container">
        <div class="row is-align-center nav-pc">
          <div class="col-xl-2 col-md-2 col-2 col logo">
            <a href="/"><img src="img/logo.png"></a>
          </div>
          <div class="col-xl-5 col-md-5 col-5 col ">
            <nav class="main-menu">
              <ul>
                <li><a href="/promotion">Khuyến Mãi</a></li>
                <li><a href="/ticket_list">Lịch Trình</a></li>
                <li>
                  {{#if (eq authUser.role "admin")}}
                  <a href="/manage_admin"></i>Quản Lý Vé</a>
                  {{else}}
                  <a href="/history"></i>Quản Lý Vé</a>
                  {{/if}}</li>
                <li><a href="/contact">Liên Hệ</a></li>
                <li><a href="/partner_info">Nhà xe</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-xl-5 col-md-5 col-5 col action-btn">
            <button class="btn btn-us" style="margin-right: 3rem"><a href="/about_us">Về chúng tôi</a></button>
            {{#if auth}}
            {{!-- <img src={{authUser.imgPath}} alt="avatar"> --}}
            <a href='/user_info?userId={{authUser.id}}'>{{authUser.fullname}}</a>
            <a href="/logout" style="margin-left: 1rem">
              <i class="icofont-logout"></i> Log out
            </a>
            {{else}}
            <button class="btn btn-login" onclick="signinAction()"><i class="icofont-user"></i> Đăng nhập</button>
            <button class="btn btn-signup" onclick="registerAction()"><i class="icofont-user"></i> Đăng ký</button>
            {{/if}}
          </div>
        </div>
        <div class="nav-mb">
          <div class="main-menu-mb">
            <button class="btn-mb" onclick="menuDisplay()">
              <i class="icofont-navigation-menu"></i>
            </button>
          </div>
          <div class="logo-mb">
            <img src="./img/logo.png">
          </div>
          <div class="user-bar-mb">
            <button class="btn-mb" onclick="userDisplay()">
              <i class="icofont-user-alt-6"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-text">
      <p>V.exe - Cam kết hoàn 150% nếu nhà xe không giữ vé</p>
    </div>
    <img src="./img/banner-img.png" class="banner-img">
   
  </header>

  {{{body}}}


  <footer>
    <div class="is-border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12 widget-col">
            <img src="./img/logo.png" style="width: 80%">
          </div>
          <div class="col-md-3 col-sm-6 col-12 widget-col">
            <ul class="widget-footer">
              <li>
                <h3>Về chúng tôi</h3>
              </li>
              <li><a href="/about_us">Giới thiệu</a></li>
              <li><a href="/partner_info">Hướng dẫn</a></li>
              <li><a href="/contact">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-12 widget-col">
            <ul class="widget-footer">
              <li>
                <h3>Hỗ trợ</h3>
              </li>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Chính sách</a></li>
              <li><a href="#">Đối tác</a></li>
              <li><a href="#">Q&A</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-12 widget-col">
            <ul class="widget-footer">
              <li>
                <h3>Tải ứng dụng</h3>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        <div class="copyright-left">
          <i class="icofont-twitter"></i>
          <i class="icofont-instagram"></i>
          <i class="icofont-facebook"></i>
        </div>
        <div class="copyright-right">
          <p>2022 V.exe incorporated</p>
        </div>
      </div>
    </div>
    </div>
  </footer>
  <script type="text/javascript" src="./js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="./js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="./js/slick.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".image-slider").slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        infinite: true,
        arrows: true,
        draggable: false,
        prevArrow: `<button type='button' class='slick-prev slick-arrow'><i class="icofont-arrow-left"></i></button>`,
        nextArrow: `<button type='button' class='slick-next slick-arrow'><i class="icofont-arrow-right"></i></button>`,
        dots: false,
        responsive: [
          {
            breakpoint: 1025,
            settings: {
              slidesToShow: 3,
            },
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              arrows: false,
              infinite: false,
            },
          },
        ],
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
  </script>

  <script type="text/javascript">
    const images = document.querySelectorAll(".img-click");
    images.forEach((el) => el.addEventListener("click", handleChangeImage));
    function handleChangeImage(e) {
      const source = e.target.getAttribute("src");
      const featureImage = document.querySelector(".feature-image");
      featureImage.setAttribute("src", source);
    }
  </script>

  <script type="text/javascript">
    function menuDisplay() {
      var list = document.getElementById("nav-list-mb");
      list.classList.toggle("is-left-defaut");
    }

    function userDisplay() {
      var list = document.getElementById("action-btn-mb");
      list.classList.toggle("is-right-defaut");
    }

    function signinAction() {
      var formSignin = document.getElementById("action-btn-signin");
      formSignin.classList.toggle("opacityDisplay");
    }

    function registerAction() {
      var formRegis = document.getElementById("action-btn-register");
      formRegis.classList.toggle("opacityDisplay");
    }

    function twoToggleElement() {
      var formSignin = document.getElementById("action-btn-signin");
      var formRegis = document.getElementById("action-btn-register");
      formSignin.classList.toggle("opacityDisplay");
      formRegis.classList.toggle("opacityDisplay");
    }
    
  </script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script>new WOW().init();</script>
</body>

</html>