
  <link rel="stylesheet" type="text/css" href="../css/history.css">
  

  <main>
    <section style="width: 30rem">
      <article class="row grid-choice">
        <div class="col-lg-4 col-sm-12 is-magrin-bot-15">
          <button class="grid-choice-item-active">Tất cả </button>  
        </div>
        <div class="col-lg-4 col-sm-6 is-magrin-bot-15">
          <button id="bookedBtn" class="grid-choice-item">Vừa đặt </button>  
        </div>
        <div class="col-lg-4 col-sm-6 is-magrin-bot-15">
          <button id="destroyBtn" class="grid-choice-item">Đã hủy </button>  
        </div>
      </article>
      
      <div class="section_view">
        {{#each order_details}}
        <article class="trip">
          <div class="trip-head">
            <img src="{{garage_infor.imgPath}}" alt="">
            <div>
              <p>{{garage_infor.name}}</p>
            </div>
          </div>
          <hr>
          <div class="info">
            <div><img src={{car_infor.imgPath}} alt="" class="car_img"></div>
            <div style="padding: 0px">
              <div>Mã vé: {{order_code}}</div>
              <div>Chuyến đi: {{trip_infor.name}}</div>
              <div>Ngày đi:  {{trip_infor.departure_date}}</div>
              <div>Loại xe:  {{car_infor.name}}</div>
              <div>Số lượng:  {{number}}</div>
              <div>Giá: {{ticket_infor.price}}đ/vé</div>
              <div>Tổng thanh toán: <p class="money">{{total_price}}đ</p></div>
              <div class="status">
                <p style="font-style: italic; font-weight: bold">Tình trạng: {{order_status}} </p>
              </div>
            </div>
          </div>
          {{!-- <div>
            <textarea class="comment">Nhận xét của bạn:</textarea>
          </div> --}}
          {{#if (eq order_status "Đã hủy")}}
          {{else}}
          <hr>
          <form method="POST" action="" id="">
            <input name="ticket_id" value="{{ticket_infor._id}}" type="text" hidden="true">
            <input name="order_id" value="{{order_id}}" type="text" hidden="true">
            <button type="submit" 
            class="btn isBlue booking__btn ml-10 isfont20" style="margin: 0 0 1rem 19rem; color: white; font-weight: bold; border-radius: 10px" >
                Hủy đơn hàng
            </button>
          </form>
          {{/if}}
        </article>
        {{/each}}
      </div>
    </section>
  </main>
<script>
  function changeChoice(e) {
    let text = e.target.textContent;
    let value = text == "Đang thực hiện " ? 0 : text == "Đã hoàn tất " ?1 : 2;
    let count = 0;
    trips.forEach(trip => {
      trip.className = "trip";
      if (count == value){
        trip.className = "trip-hidden";
      }
      ++count;
    });
    choices.forEach((c) => {
      c.className = "grid-choice-item";
    })
    e.target.className = "grid-choice-item-active";
  }
  var choices = document.querySelectorAll(".grid-choice button");
  choices.forEach(choice => choice.addEventListener("click", changeChoice));
  var trips = document.querySelectorAll("article.trip");

</script>

<script>
    const destroyBtn = document.querySelector("#destroyBtn");
    destroyBtn.addEventListener('click', ()=>{
      // Get destroyed tickets
      const ticketList = JSON.parse(`{{{order_detailsJSON}}}`);

      const newTicketList = ticketList.filter((ele)=>{
        return ele.order_status == "Đã hủy";
      })

      let ticketView = document.querySelector(".section_view");
      ticketView.innerHTML = '';
      for(let i = 0; i < newTicketList.length; i++){
        ticketView.innerHTML+=`
        <article class="trip">
          <div class="trip-head">
            <img src="${newTicketList[i].garage_infor.imgPath}" alt="">
            <div>
              <p>${newTicketList[i].garage_infor.name}</p>
            </div>
          </div>
          <hr>
          <div class="info">
            <div><img src=${newTicketList[i].car_infor.imgPath} alt="" class="car_img"></div>
            <div style="padding: 0px">
              <div>Mã vé: ${newTicketList[i].order_code}</div>
              <div>Chuyến đi: ${newTicketList[i].trip_infor.name}</div>
              <div>Ngày đi:  ${newTicketList[i].trip_infor.departure_date}</div>
              <div>Loại xe:  ${newTicketList[i].car_infor.name}</div>
              <div>Số lượng:  ${newTicketList[i].number}</div>
              <div>Giá: ${newTicketList[i].ticket_infor.price}đ/vé</div>
              <div>Tổng thanh toán: <p class="money">${newTicketList[i].total_price}đ</p></div>
              <div class="status">
                <p style="font-style: italic; font-weight: bold">Tình trạng: ${newTicketList[i].order_status} </p>
              </div>
            </div>
          </div>
        </article>`
      }
    })
</script>

<script>
    const bookedBtn = document.querySelector("#bookedBtn");
    bookedBtn.addEventListener('click', ()=>{
      // Get destroyed tickets
      const ticketList = JSON.parse(`{{{order_detailsJSON}}}`);

      const newTicketList = ticketList.filter((ele)=>{
        return ele.order_status == "Vừa đặt";
      })

      let ticketView = document.querySelector(".section_view");
      ticketView.innerHTML = '';
      for(let i = 0; i < newTicketList.length; i++){
        ticketView.innerHTML+=`
        <article class="trip">
          <div class="trip-head">
            <img src="${newTicketList[i].garage_infor.imgPath}" alt="">
            <div>
              <p>${newTicketList[i].garage_infor.name}</p>
            </div>
          </div>
          <hr>
          <div class="info">
            <div><img src=${newTicketList[i].car_infor.imgPath} alt="" class="car_img"></div>
            <div style="padding: 0px">
              <div>Mã vé: ${newTicketList[i].order_code}</div>
              <div>Chuyến đi: ${newTicketList[i].trip_infor.name}</div>
              <div>Ngày đi:  ${newTicketList[i].trip_infor.departure_date}</div>
              <div>Loại xe:  ${newTicketList[i].car_infor.name}</div>
              <div>Số lượng:  ${newTicketList[i].number}</div>
              <div>Giá: ${newTicketList[i].ticket_infor.price}đ/vé</div>
              <div>Tổng thanh toán: <p class="money">${newTicketList[i].total_price}đ</p></div>
              <div class="status">
                <p style="font-style: italic; font-weight: bold">Tình trạng: ${newTicketList[i].order_status} </p>
              </div>
            </div>
          </div>
          <hr>
          <form method="POST" action="" id="">
            <input name="ticket_id" value="{{ticket_infor._id}}" type="text" hidden="true">
            <input name="order_id" value="{{order_id}}" type="text" hidden="true">
            <button type="submit" 
            class="btn isBlue booking__btn ml-10 isfont20" style="margin: 0 0 1rem 19rem; color: white; font-weight: bold; border-radius: 10px" >
                Hủy đơn hàng
            </button>
          </form>
        </article>`
      }
    })
</script>