
  <link rel="stylesheet" href="../css/ticket_list.css" />
      <main>

         <div class="container ">
            <div class="row">
               <div class="col-sm-10 ">
                  <h1 class="title">Nội dung phản hồi</h1>
               </div>
            </div>
               <table class="table">
               <thead>
                  <tr>
                     <th >Tên</th>
                     <th >Số điện thoại</th>
                     <th >Email</th>
                     <th >Nội dung phản hồi</th>
                  </tr>
               </thead>
               <tbody>
                  {{#each contactList2}}
                  <tr>
                     <td data-title="Tên"> {{name}}</th>
                     <td data-title="Số điện thoại">{{phone}}</td>
                     <td data-title="Email">{{email}}</td>
                     <td data-title="Nội dung phản hồi">{{reply}}</td>
                  </tr>
                  {{/each}}
               </tbody>
               </table>
               <br>
            
                   {{#each pagesList}}
                     <a href='?page={{this}}' class="pagination {{#if (eq ../current_page this)}} active {{/if}}">
                        {{this}}
                     </a>
                  {{/each}}
         </div>
      </main>

      <script>
        
      </script>