
      <link rel="stylesheet" href="../css/ticket_list.css" />
      <main>
         
         <div class="container ">
            <div class="row">
               <div class="col-sm-10 ">
                  <h1 class="title">Nội dung phản hồi</h1>
               </div>
            </div>
            <div class="row">
               <!-- 
               <div class="filter__advance col-md-3 col-sm-12 col-12">
                  
               </div>-->
               <div class="ticket__container p-3 col-md-12 col-sm-12 col-12">
                  <div class="ticket__header row" style="background-color: #0c86cb">
                     <p class="col-sm-3">Tên người phản hồi</p>
                     <p class="col-sm-2">Số điện thoại</p>
                     <p class="col-sm-2">Email</p>
                     <p class="col-sm-5">Nội dung phản hồi</p>
                  </div>
                  {{#each contactList2}}
                    <div class="row mt-2 mb-2 isboder_bottom">
                       <div class="col-sm-3 time_departure">
                          <div>
                             {{name}}
                          </div>
                       </div>
                       <input type="checkbox" id="id_view4" class="view_detail_checkbox"></input>
                       <label for="id_view4" class="view_message ml-3  isPurple">
                       Chi tiết
                       <i class="icofont-rounded-down isPurple"></i>
                       </label>
                       <div class="col-sm-2">{{phone}}</div>
                       <p class="col-sm-2">{{email}}</p>
                       <p class="col-sm-5">{{reply}}</p>
                    </div>
            
                  {{/each}}
                   {{#each pagesList}}
                     <a href='?page={{this}}' class="pagination {{#if (eq ../current_page this)}} active {{/if}}">
                        {{this}}
                     </a>
                  {{/each}}
               </div>
            </div>
         </div>
      </main>

      <script>
        
      </script>