
    <link rel="stylesheet" type="text/css" href="../css/partner_info.css">
    {{!-- <link rel="stylesheet" type="text/css" href="../css/history.css"> --}}

    <!-- link fontawsome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/040bc95231.js"
            crossorigin="anonymous"></script>
    
    
    <br>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-sm-1 text-end">
                <p class="type-bus ">Share</p>
                <div class="icon fa-solid fa-link"></div>
                <div class="icon fa-brands fa-instagram"></div>
                <div class="icon fa-brands fa-twitter"></div>
                <div class="icon fa-brands fa-facebook"></div>
            </div>

            <div class="col-sm-10">
                <img class="img-responsive " src="../img/busVexe.png" width="100%" alt="VEXE">
            </div>
        </div>
        <br>

        <h2 class="news-title bold">Thông tin nhà xe</h2>
        {{#each garageList}}
        <div class="row justify-content-left">
            <div class="col-sm-12">
                <br>
                <div class="name_garage_container">
                    <img src={{imgPath}} alt="" />
                    <div>
                        <p class="news-title bold">{{name}}: {{avg}} <i class="big_star fa fa-star rating-color"></i></p>
                    </div>
                </div>
                <div class="detail_garage">
                    {{!-- <span class="news-location bold"> Takashimaya</span> --}}
                    <p class="news-location bold"><i class="fa-solid fa-location-dot"></i> TP. Hồ Chí Minh</p>
                    {{!-- <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        20/12/2022 
                    </div> --}}
                    <p><i class="fa-solid fa-phone"></i> {{phone}}</p>
                </div>
                
                <div class ="comment_divisor bold"> Nhận xét từ người đã trải nghiệm dịch vụ của <span class = "partner_name">{{name}}</span> </div>

                <section >
                    <div class="container">
                        <div class="image-slider">
                            {{#each ../commentList}}
                            {{#if (eq ../_id this.garage)}}
                            <div class="image-item rate_item">
                                <div class="infor-blog">
                                    <div class="row justify-content-left">
                                        <div class="col-lg-4">
                                            {{!-- <br> --}}
                                            <img class="img-responsive border_round avatar_user" src={{userAvatar}} width="100%"  alt="Chania">
                                        </div>
                                        
                                        <div class="col-lg-8">
                                            <br>
                                            <div class=" comment-info bold">{{userInfor}}</div>
                                        
                                            <div class="ratings">
                                                <i class="fa fa-star{{#if (gte star 1)}} rating-color{{/if}}"></i>
                                                <i class="fa fa-star{{#if (gte star 2)}} rating-color{{/if}}"></i>
                                                <i class="fa fa-star{{#if (gte star 3)}} rating-color{{/if}}"></i>
                                                <i class="fa fa-star{{#if (gte star 4)}} rating-color{{/if}}"></i>
                                                <i class="fa fa-star{{#if (gte star 5)}} rating-color{{/if}}"></i>
                                            </div>
                                        </div>    
                                    </div>
                                    <p class="data">{{comment}}</p>
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                 </section>  
                 
                {{!-- {{#if auth}}  --}}
                 <form method="POST" action="/partner_info" style="margin: 0 auto" class="form_rating">
                    <input type="text" name="garage_id" hidden="true" value='{{_id}}' />
                    <input type="text" name="user_id" hidden="true" value='{{../authUser.id}}' />
                    <div style="margin-left: 1.4rem; font-size: 20px">Đánh giá của bạn về nhà xe {{name}}:</div>
                    <div class="rate">
                        <input type="radio" id="star{{@index}}_5" name="rate" value="5" />
                        <label for="star{{@index}}_5" title="text">5 stars</label>
                        <input type="radio" id="star{{@index}}_4" name="rate" value="4" />
                        <label for="star{{@index}}_4" title="text">4 stars</label>
                        <input type="radio" id="star{{@index}}_3" name="rate" value="3" />
                        <label for="star{{@index}}_3" title="text">3 stars</label>
                        <input type="radio" id="star{{@index}}_2" name="rate" value="2" />
                        <label for="star{{@index}}_2" title="text">2 stars</label>
                        <input type="radio" id="star{{@index}}_1" name="rate" value="1" />
                        <label for="star{{@index}}_1" title="text">1 star</label>
                    </div>
                    <div>
                        <textarea name="description" class="comment" style="width: 50rem" placeholder="Nhận xét của bạn"></textarea>
                     </div>
                    <div class="confirm_button_container">
                        <button type="submit" class="confirm_button btn isOrange booking__btn ml-10 isfont20" style="color: white; font-weight: bold" >
                            Xác nhận
                        </button>
                    </div>
                 </form>  
                 {{!-- {{/if}}        --}}
             </div>
        </div>
        <br>
        {{/each}}
    </div>
</div>

